.main {
    display: flex;
    flex-flow: column;
    margin-top: 5rem;
    background-color: inherit;
    align-items: center;
}

.form {
    padding: 1rem;
}

@media all and (max-width: 1120px) {
    .main {
        max-width: 100vh;
    }
    .form{
        padding: 0.5rem;
    }
}