@import url('https://fonts.googleapis.com/css2?family=Glory:wght@500&display=swap');

.main {
    font-family: 'Glory', sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex-flow: column;
    width: 80vw;
}

.form {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.elements {
    display: flex;
    flex-flow: row;
    max-width: 1220px;
    min-width: 600px;
}

.element {
    margin-left: 1rem;
    display: flex;
    flex-flow: row;
}

.actions {
    margin-top: 0.5rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.actions button {

    display: flex;
    align-items: center;
    justify-content:center;
    width: 3rem;
    max-height: 2rem;
}

@media all and (max-width: 900px) {
    .main {
        font-size: 1rem;
    }

    .elements {
        flex-flow: column;
        align-items: center;
    }
}