
.topStripe {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    background-color: rgba(248, 4, 4, 0.55);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    height: 3rem;
    padding-left: 1rem;
}

.topStripe h1 {
    font-size: 2rem;
}

.title {
    margin-left: 0;
    margin-right: 1.5rem;
}

.description {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0 0.5rem;
}

.info {
    display: flex;
    flex-flow: row;
    margin-inside: 2rem;
}

.info p {
    padding-left: 1.5rem;
}


.text {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between;
}

.actions {
    margin: 0;
    padding: 0;

    /*align-content: stretch;*/
    /*justify-content: stretch;*/
    /*align-items: baseline;*/
}

.actions button {
    background-image: linear-gradient(to right, rgba(238, 234, 234, 0.82), rgba(132, 126, 126, 0.82));
    border-radius: 8px;
    font-size: 1rem;
    color: #2c292b;
    height: 100%;
    transition-duration: 1s;
}

.actions button:hover {
    background-image: none;
    background-color: whitesmoke;
    transition-duration: 1s;
    border: #2c292b solid 3px;
}

@keyframes glowing {
    0% {
        background-color: #2ba805;
        box-shadow: 0 0 3px #2ba805;
    }
    50% {
        background-color: #49e819;
        box-shadow: 0 0 10px #49e819;
    }
    100% {
        background-color: #2ba805;
        box-shadow: 0 0 3px #2ba805;
    }
}

.actions .vote_processing {
    animation: glowing 1300s 5s;
}

.actions button:active {
    transform: translateY(4px);
    background-image: linear-gradient(rgba(98, 182, 16, 0.59), rgb(70, 163, 54));
}

@media only screen and (max-width: 1000px) {
    .topStripe h1 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 500px) {
    li {
        margin: 0;
    }

    .topStripe h1 {
        font-size: 0.7rem;
    }

    .actions button {
        font-size: 0.7rem;
    }

}